{% extends 'translate/layout.html' %}

{% block body %}
<div class="text-center display-2 my-5">{{ project.title }} - English to {{ target_lang }}</div>
<div class="container">
    <form id="annotate-form" action="{% url 'annotate' project.id %}" method="post" class="gx-3">
        {% csrf_token %}
        {% for sentence in sentences %}
            <div class="row align-items-stretch">
                <div class="col-md-6 align-items-center">
                    <p class="card-text">{{ sentence.original_sentence }}</p>
                </div>
                <div class="col-md-6 align-items-center">
                    <input type="textarea" style="height:100%; "class="form-control" id="{{ sentence.id }}" name="{{ sentence.id }}" placeholder="Enter translation" value="{{ sentence.translated_sentence | default_if_none:'' }}">
                </div>
            </div>
            <hr>
        {% endfor %}
    </form>
</div>

<div class="text-center mb-5">
    <input type="submit" form="annotate-form" class="btn btn-primary text-center" value="Submit Annotations"></input>
</div>

{% endblock body %}
