{% extends 'translate/layout.html' %}

{% block title %}Dashboard | WikiTranslate{% endblock %}

{% block body %}
<h1 class="text-center display-1">Dashboard</h1>

{% if projects %}
<div class="container">
    <table class="table table-striped table-hover table-bordered col-md-6">
        <thead>
            <tr>
                <th scope="col">Project ID</th>
                <th scope="col">Article Title</th>
                <th scope="col">Target Language</th>
                <th scope="col">Created By</th>
                <th scope="col">Created On</th>
                <th scope="col">Project Link</th>
            </tr>
        </thead>
        {% for project in projects %}
            <tr>
                <td>{{ project.language }}_{{ project.title }}</td>
                <td>{{ project.title }}</td>
                <td>{{ project.get_language_display }}</td>
                <td>{{ project.creator.username }}</td>
                <td>{{ project.time_created | date:"jS F, Y" }}</td>
                <td><a href="{% url 'annotate' project.id %}" class="btn btn-sm btn-primary">Go to Project &raquo;</a></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% else %}
    <p class="text-center">No projects available ...yet!</p>
{% endif %}

{% if user.is_staff %}
<div class="text-center">
    <a href="{% url 'input_title' %}" class="btn btn-success btn-lg">
        Create a new Project
    </a>
</div>
{% endif %}

{% endblock %}
